<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <h3 style="text-align: center;color:white">Our Special Offers</h3>
    <hr style="background-color:maroon;width: 150px;height: 2px">
    <div class="carousel-item active">
        <h1 style="color:white">Get 5% Loyality Cash Back</h1>
        <h4 style="color:white">Apart From Providing Delicious & Healthy Food, We Are Also Returning Your Money as Cashback Amount. Every time you From Fazzito 5% Amount Will Be Added In Your Account. Redeem Cashback Amount Across Complete Menu. </h4>  
    </div>
    <div class="carousel-item">
        <h1 style="color:white">Get 5% Loyality Cash Back</h1>
        <h4 style="color:white">Apart From Providing Delicious & Healthy Food, We Are Also Returning Your Money as Cashback Amount. Every time you From Fazzito 5% Amount Will Be Added In Your Account. Redeem Cashback Amount Across Complete Menu.  </h4> 
    </div>
    <div class="carousel-item">
        <h1 style="color:white">Get 5% Loyality Cash Back</h1>
        <h4 style="color:white">Apart From Providing Delicious & Healthy Food, We Are Also Returning Your Money as Cashback Amount. Every time you From Fazzito 5% Amount Will Be Added In Your Account. Redeem Cashback Amount Across Complete Menu.  </h4> 
    </div>
  </div>
</div>
<div style="display:flex;flex-wrap:wrap;width: 80%;margin: auto;margin-top: -100px">
  <div class="innerDiv">
      10% Discount For New User
      Use Coupon Code WELCOME10
      Fazzito Kitchen Welcomes User, With Best Taste, Healthy Food & Discounted Price.
      Discount 10%
      Maximum Discount  50
      Minimum Cart Value  250
  </div>
  <div class="innerDiv">
    <img src="https://fazzito.com/asset/restaurant/add1.jpg" style="height: 100%;width: 100%">
  </div>
  <div class="innerDiv">
      15% Discount On Party Order
      Use Coupon Code PARTY15
      We Want To Be Part Of Your Happiness.
      Discount 15%
      Maximum Discount  300
      Minimum Cart Value  1000
      Only For Registered Users.
  </div>
  <div class="innerDiv"></div>
  <div class="innerDiv"></div>
  <div class="innerDiv"></div>
  <div class="innerDiv"></div>
  <div class="innerDiv"></div>
  <div class="innerDiv"></div>
</div>