<div id="categoryNav">
  <div *ngFor="let category of categoryData" (click)="showProducts(category)">
    {{category.categoryName}}
  </div>
</div>

<marquee direction="left" style="height: 30px;position: sticky;top: 125px;z-index: 1 ;color: red;font-size: 15px;font-family:sans-serif;background-color: gainsboro">Our
  prices are inclusive of taxes.
</marquee>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div id="gridCategory">
        <div class="card" *ngFor="let x of productData" id="item">
          <img class="card-img-top" src="{{x.images[0]?.imageUrl?'https://fazzito.com/api'+ x.images[0]?.imageUrl:'/assets/image/placeHolderImageMenu.png'}}">
          <div class="card-body">
            <h3 class="card-title">{{x.productName}}</h3>
            <p class="card-text">{{x.description}}</p><br>
            <span>@ {{x.price}}</span>
            <button class="btn btn-primary" style="float: right;" (click)="selectedItem(x)">+ADD</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4" id="selectedCategory">
      <div>
        <hr style="width:200px;background-color: rgb(97, 97, 187);height: 1.5px;">
        <hr style="width:300px;background-color: rgb(97, 97, 187);height: 1.5px;">
        <img src="./assets/image/Logo.png" style="height: 40px;width: 40px;margin-left: 50%;transform: translate(-70%);position: absolute;top: 5px">
      </div>
      <div class="card">
        <div class="card-header">
          <table style="width: 100%">
            <thead>
              <th>Item Name</th>
              <th style="text-align: right">Quantity</th>
              <th style="text-align: right">Prices</th>
            </thead><br>
            <tbody *ngFor="let select of selectedItemArray2" id="carbody">
              <td>{{select?.productName}}</td>
              <td style="text-align: right" *ngIf="plusminus">
                <span class="fa fa-plus" style="border: 1px solid black;padding: 2px;cursor: pointer;" (click)="increaseQuantity(select)"></span>
                {{' '+select?.quantity+' '}}
                <span class="fa fa-minus" style="border: 1px solid black;padding: 2px;cursor: pointer;" (click)="decreaseQuantity(select)"></span>
              </td>
              <td style="text-align: right;" *ngIf='select'>{{select?.price}}</td><br/><br/>
            </tbody>
          </table>
        </div>
        <div class="card-body" style="padding: 5px 5px;padding-left: 30px">
          <span>Total Amount</span><span style="float: right;margin-right: 15px">{{total}}</span>
        </div>
        <div class="card-footer">
          <button (click)="confirmOrder()" id="confirmOrder" class="btn btn-primary" style="margin-left: 50%;transform: translate(-50%);cursor: pointer;">CONFIRM MY
            ORDER
          </button>
        </div>
      </div>
      <img src="./assets/image/Logo.png" style="filter: opacity(0.5);left: 50%;top: 300px;transform: translate(-50%);position: absolute">
    </div>
  </div>
</div>